html {
  background-color: #929292;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-color: #929292;
}

a {
  color: #92badd;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 10px 8px 10px 8px; 
  color: #cccccc;
}

h1{
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 10px 8px 10px 8px; 
  color: #000;
}

header{
  position : fixed;
  background-color : #830143;
  width: 100%;
  min-width : 30%;
  box-shadow: 0 10px 30px 0 rgba(0,0,0,0.4);
  z-index  : 99;
  padding : 10px 0px 10px 0px;
}

#logo img{
  height : 50px;
  position : static;
  float : left;
}

#titre{
  text-align : center;
  width : 60%;
  padding-left : 25%;
  left : 0;
  float : left;
}
#userInfo{
  text-align : right;
  padding-right : 10px;
  width : 20%;
  float : right;
  right : auto;
}

.navButton{
  position : relative;
  top: 10em;
}

.contentPage{
  position : relative;
  top: 10em;
  left : 2.5%;
  width : 95%;
  margin-bottom : 100px;
}

form{
  width : 10%
  margin : auto;
}

.navButton{
  width : auto;
  left: 0;
}

legend{
  margin-left : 1%;
  color : #830143;
  font-style : bold;
}

.form-group{
  min-width : 1145px;
  max-width : 80%;
  margin: auto;
  background-color : #fff;
  padding : 10px 10px 20px 10px;
  box-shadow: 0 10px 30px 0 rgba(0,0,0,0.4);
  border-radius: 5px 5px 5px 5px;
  color : #830143;
}

.contentPage #infoSelected{
  margin-bottom : 20px;
}

.contentPage #infoSelected h1{
  min-width : 30%;
  max-width : 50%;
  margin : auto;
  padding : 5px 10px 5px 10px;
  color : #fff;
  border-radius: 5px 5px 5px 5px;
}

.contentPage #infoSelected #test{
  background-color : #424242;
}

.contentPage #infoSelected #groupe{
  background-color : #424242;
}

.contentPage #tab table{
  width:100%;
  border-radius: 5px 5px 5px 5px;
}

.contentPage #tab td{
  background-color : #fff;
  border : solid;
  border-color : #fff;
  text-align : center;
  padding : 5px 10px 5px 10px;
}

.contentPage #tab #reponseb{
  background-color : #DBDBDB;
  color : #707070;
}

.contentPage #tab #reponsed{
  background-color : #DBDBDB;
  color : #830143;
}

.contentPage #tab #questiond{
  background-color : #830143;
  color : #fff;
}

.contentPage #tab #questionb{
  background-color : #707070;
  color : #fff;
}

.contentPage #tab tp{

}


.outerDiv{  
  margin-top : 5%;
}

.innerDiv{
  margin-left : 12.5%;
  margin-right : 12.5%;
  width:100%;
}

.returnButtonContainer{
  margin-top: 5%;
  left : 3.5%;
  margin-bottom : 5%;
}

input[id="validation"] {
  background-color: #830143;
  border: solid;
  border-color : #830143;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block!important;
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 5px 5px 5px 5px;
  width : 150px;
  margin-right : 5%;
  margin-left : 5%;
  padding : 5px 10px 5px 10px;
}

input[id="validation"]:hover{
  background-color : #fff;
  color : #830143;
  transition-duration: 0.8s;
}

#r3{
  display:none;
}

#r4{
  display:none;
}

.rbContainer input[type="radio"]{
  margin-left : 10%;
}

.rbContainer{
  margin-bottom : 2em;
}

.qContainer{
  margin-bottom : 2em;
}

.qContainer input[type="text"]{
  width : 80%;
  margin-left : 10%;
  margin-right : 10%;
  color :#830143;
  font-style: bold;
}

.repContainer input[type="text"]{
  width : 80%;
  margin-left : 10%;
  margin-bottom : 1em;
  margin-right : 10%;
  color :#000;
}

.repContainer input[type="checkbox"]{
  margin-left : 10%;
}







