.contenu {
    padding-top: 80px;
}

@media screen and (max-width: 850px) {
    .contenu {
        padding-top: 250px;
    }
    #titre{
        padding-left: 5%;
    }
}

@media screen and (max-width: 600px) {
    #titre {
        padding-left: 0%;
    }
}

#centerDiv{
    
}

#centerDiv>button{
    width: 300px;
    border-radius: 17px 17px 17px 17px;
    -moz-border-radius: 17px 17px 17px 17px;
    -webkit-border-radius: 17px 17px 17px 17px;
    border: 0px solid #000000;
    background-color: white;
}

#validation{
    margin : 20px;
}

body{
    height: fit-content;
    background: rgb(133,6,71);
    background: linear-gradient(90deg, rgba(133,6,71,1) 0%, rgba(255,255,255,1) 51%, rgba(133,6,71,1) 100%);
  }